/* Define custom CSS variables for color values */
:root {
	--primary: #D81E5B;      /* Primary color*/ 
	--secondary: #8A4EFC;    /* Secondary color */
	--light: #EEE;           /* Light background color */
	--light-alt: #61759b;    /* Alternative light color */
	--dark: #131A26;         /* Dark background color */
	--dark-alt: #202B3E;     /* Alternative dark color */
}

/* Reset default margin, padding, and box-sizing for all elements */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif; /* Set the default font */
}

/* Styling for the entire body of the page */
body {
	background-color: var(--dark-alt); /* Set background color */
	color: var(--light);                /* Set text color */
}

/* Styling for the main container with class 'App' */
.App {
	padding: 32px; /* Add padding around the content */
}

/* Styling for the top-level heading */
h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

/* Styling for subheading with class 'h4' */
h4 {
	font-size: 18px;
	color: var(--light-alt);     /* Set text color */
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}

/* Styling for individual car elements */
.car {
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s; /* Add a smooth transition effect */
	cursor: pointer;
	margin-bottom: 16px;
}

/* Hover effect for car elements */
.car:hover {
	opacity: 0.8;
}

/* Styling for the car's checkbox */
.car .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 16px;
	border-radius: 50%;
	background-color: var(--dark-alt);
	background-image: linear-gradient(to bottom, transparent, transparent);
	transition: 0.4s; /* Add a smooth transition effect */
}

/* Styling for the chosen car's checkbox */
.car.is-chosen .checkbox {
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

/* Styling for car text */
.car .text {
	font-size: 20px;
}

/* Styling for text of chosen car */
.car.is-chosen .text {
	text-decoration: line-through;
}

/* Styling for the delete button for each car */
.car .delete-car {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #AF1E2D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

/* Styling for the add button */
.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 64px;
	height: 64px;
	border-radius: 999px;
	font-size: 28px;
	font-weight: 900;
	color: var(--light);
	background-color: var(--primary);
	background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
	cursor: pointer;
}

/* Styling for the popup dialog */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 400px;
	background-color: var(--light);
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0px 4px 32px var(--dark);
}

/* Styling for the close button in the popup */
.closePopup {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: var(--dark);
	cursor: pointer;
}

/* Styling for headings inside the popup */
.popup h3 {
	color: var(--dark);
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 25px;
	text-transform: uppercase;
}

/* Styling for subheadings inside the popup */
.popup h2 {
	color: var(--dark);
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
}

/* Styling for input fields in the popup */
.add-car-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: #FFF;
	padding: 16px;
	border-radius: 16px;
	width: 100%;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

/* Styling for generic buttons */
.button {
	padding: 16px 32px;
	border-radius: 999px;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
}

/* Styling for the 'Sort cars by Speed' box */
.sort-cars-by-speed-box {
	padding: 16px 32px;
	border-radius: 999px;
	background-color: var(--primary);
	transition: background-color 0.3s ease;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	color: var(--light); /* Set text color to white */
	margin-right: 9px;
}

/* Styling for the title of 'Sort cars by Speed' */
.sort-cars-by-speed-title {
	font-size: 18px;
	font-weight: 700;
	color: var(--dark);
}

/* Styling for the 'Sort cars by Speed' button */
.sort-cars-by-speed-button {
	background-color: var(--primary);
	font-size: 18px;
	font-weight: 500;
	color: var(--light);
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-bottom: 18px;
}

/* Hover effect for the 'Sort cars by Speed' button */
.sort-cars-by-speed-button:hover {
	background-color: var(--secondary);
}

/* Styling for car speed information */
.car .speed {
    font-size: 14px;
    color: var(--light-alt);
	margin-left: 10px;
    margin-top: 4px;
}